<router-outlet></router-outlet>
<!-- <app-header></app-header> -->


<div class="d-flex" id="wrapper" [ngClass]="toggleMenu ? '' : 'toggled' ">

    <!-- Sidebar -->
    <div class="border-right" id="sidebar-wrapper" style="background-color: rgb(148, 170, 230)">
        <div class="sidebar-heading" style="color: #ffffff">Synapse Dashboard</div>
        <div *ngIf="headerApi" class="list-group list-group-flush">
            <div *ngFor="let itemHeader of headerApi[0]">
                <a type="radio" (click)="selectItem(itemHeader)" href="#{{ itemHeader }}"
                    class="list-group-item list-group-item-action"
                    style="background-color: rgb(40, 102, 236); color: #ffffff">{{ itemHeader }}</a>
            </div>
        </div>
    </div>

    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-primary" id="menu-toggle" (click)="toggleMenu = !toggleMenu">Toggle Menu</button>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item" *ngFor="let type of chartsTypes">
                        <a class="nav-link" href="#{{ type.name }}">{{ type.name }}</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li> -->
                </ul>
            </div>
        </nav>

        <div class="container-fluid">

            <h1 class="mt-4">Show Values</h1>
            <button class="button" (click)="getValuesApi()">Valores Api</button>
            <ul *ngIf="values">
                <li *ngFor="let itemValues of values">{{ itemValues[0] }} | {{ itemValues[1] }} | {{ itemValues[2] }} |
                    {{ itemValues[3] }} |
                    {{ itemValues[4] }} |
                    {{ itemValues[5] }} | {{ itemValues[6] }} | {{ itemValues[7] }} | {{ itemValues[8] }} </li>
            </ul>

            <div echarts [options]="chartOption" class="demo-chart"></div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>



<!-- <app-footer></app-footer> -->